# ============================================================
#  .gitattributes — tsforge
#  Author  : Jack
#  GitHub  : https://github.com/setuju
#  Website : https://saturumah.net
# ============================================================

* text=auto eol=lf

*.sh          text eol=lf
*.bash        text eol=lf
*.zsh         text eol=lf
.shellcheckrc text eol=lf
.editorconfig text eol=lf
Makefile      text eol=lf
Dockerfile    text eol=lf
*.yml         text eol=lf
*.yaml        text eol=lf
*.nix         text eol=lf
*.tape        text eol=lf
.gitignore    text eol=lf
.gitattributes text eol=lf
CODEOWNERS    text eol=lf
*.md          text eol=lf

*.gif         binary
*.png         binary
*.jpg         binary
*.jpeg        binary
*.ico         binary
